<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allocations</title>
</head>
<body>
    <div id="container">
        <div class="bar">
            <h1>{{ account.account_name }}</h1>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
        <table>
            <thead>
                <tr class="topRow">
                    <th class="topCol">Name</th>
                    <th class="topCol">Amount</th>
                    <th class="topCol">Date</th>
                    <th class="topCol">Balance</th>
                    <th class="topCol">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in account.all_transactions: %}
                <tr class="row1">
                    <td class="col">{{ transaction.transaction_name }}</td>
                    <td class="col">{{ transaction.amount }}</td>
                    <td class="col">{{ transaction.transaction_date }}</td>
                    <td></td>
                    <td>
                        <a href="/budget/edit/{{transaction.account_id}}/{{transaction.transactions_id}}">Edit</a>
                        <a href="/budget/delete/{{transaction.transactions_id}}/{{ transaction.account_id }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <h3><a href="/budget/new/{{account.accounts_id}}">Add to Budget</a></h3>
    </div>
</body>
</html>