<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allocations</title>
</head>
<body>
    <div id="container">
        <div class="bar">
            <h1>{{ account.aname }}</h1>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
        <table>
            <thead>
                <tr class="topRow">
                    <th class="topCol">Name</th>
                    <th class="topCol">Amount</th>
                    <th class="topCol">Date</th>
                    <th class="topCol">Balance</th>
                    <th class="topCol">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for input in account.all_inputs: %}
                <tr class="row1">
                    <td class="col">{{ input.iname }}</td>
                    <td class="col">{{ input.amount }}</td>
                    <td class="col">{{ input.idate }}</td>
                    <td>
                        <a href="/budget/edit/{{input.id}}">Edit</a>
                        <a href="/budget/delete/{{input.id}}/{{input.account_id}}">Delete</a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <h3><a href="/budget/new/{{account.id}}">Add to Budget</a></h3>
    </div>
</body>
</html>